<%- include('includes/header.ejs') %>


  
<div class="hero">
  <div class="left top">
    <img src="./images/phone-google-reviews-3.png.webp" alt="">
  </div>

  <div class="right bottom">
    <h2 class="quote">“We’re acquiring over 100 real reviews per quarter
      —revenues are up 21%  because of Starloop.”</h2>
      <p class="quote-author">– Chris Odd, Odds On Home Inspection </p>
      <h3 class="hero-cta">Starloop helps you create a genuine online reputation automatically. 30-day guarantee, instant access.</h3>
      <a href="#" class="signup-button">SIGN UP</a>
  </div>
</div>



<%- include('includes/footer.ejs') %>
