* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  background: #F6F6F6;
}

.signup-button {
  background: #FF3C7E;
  padding: .6em 1em;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  max-width: 200px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup-button:hover {
  background: #cf4574;
}

.quote {
  color: #243B60;
  font-weight: 300;
  font-size: 2.75rem;
}

.quote-author {
  color: #AFAFAF;
  font-style: italic;
}

.hero-cta {
  color: #636F89;
  font-weight: 300;
  font-size: 1.5rem;
}

.menu {
  color: #6D6D6D;
  font-weight: 700;
  text-decoration: none;
}

li {
  list-style: none;
}

.hamburger div {
  width: 20px;
  height: 1px;
  margin: .3em 0;
  border: solid 1px black;
}

.hamburger:hover {
  cursor: pointer;
}

.container {
  width: 100%;
}

nav {
  width: 80%;
  margin: 2em auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo img {
  max-width: 150px;
}

@media (min-width: 800px) {
  nav .hamburger {
    display: none;
  }
}

nav .nav-menu ul {
  background: #FEFEFE;
  border-top: solid 3px #2EA3F2;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  padding: 1.5em 4em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: #F6F6F6;
}

nav .nav-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2em 0;
}

nav .nav-menu ul li a {
  color: #3E5272;
  width: 100%;
  font-weight: 500;
}

nav .nav-menu ul li .signup-button {
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  width: 100%;
}

.hero .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .top img {
  width: 100%;
  margin: auto;
}

.hero .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
}

.hero .bottom .quote {
  margin-bottom: 1em;
}

.hero .bottom .quote-author {
  margin-bottom: 2em;
}

.hero .bottom .hero-cta {
  margin-bottom: 1.7em;
}

.hero .bottom .signup-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 800px) {
  nav {
    width: 95%;
    margin: 1.5em auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .nav-menu .nav-ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: none;
    top: 0;
    padding: 0;
    margin: 0;
  }
  nav .nav-menu .nav-ul li {
    width: auto;
    margin: auto .5em;
  }
  nav .nav-menu .nav-ul li a {
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 60%;
    margin: auto;
  }
  .hero .top {
    width: 40%;
  }
  .hero .bottom {
    width: 60%;
    margin: 10% auto;
  }
  .hero .bottom .quote {
    text-align: start;
  }
  .hero .bottom .quote-author {
    text-align: start;
  }
  .hero .bottom .hero-cta {
    text-align: start;
  }
  .hero .bottom .signup-button {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
}

.delete {
  display: none;
}
/*# sourceMappingURL=style.css.map */